
main {
	font-family: arial;
	background-color: white;
}

header {
	background-color: orange;
	margin-bottom: 40px;
}

header h1 {
	line-height: 1;
	margin-bottom: 0;
}

header p {
	margin-top: 0.5em;
}

.card {
	border: 1px solid black;
	margin-bottom: 20px;
}

.image {
	width: 100%;
}	

.info {
 	padding: 20px;
 }

.info h3 {
	margin-top: 0;
	margin-bottom: 0;
}

.info p {
	 margin: 0.5em 0;
}
